{% extends "base.html" %}

{% block content %}
<h2>Patient erfassen</h2>

<form method="post">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" name="Name" required>
  </div>

  <div class="form-group">
    <label>Geburtsdatum</label>
    <input class="form-control" type="date" name="Geburtsdatum">
  </div>

  <div class="form-group">
    <label>Geschlecht</label>
    <input class="form-control" name="Geschlecht">
  </div>

  <div class="form-group">
    <label>Gewicht (kg)</label>
    <input class="form-control" type="number" name="Gewicht">
  </div>

  <button class="btn btn-primary">Speichern</button>
</form>
{% endblock %}
