{% extends "base.html" %}

{% block content %}
<h2>Patient:innenübersicht</h2>

<a class="btn btn-success" href="{{ url_for('add_patient') }}">+ Patient:in erfassen</a>
<hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th>patienten_id</th>
      <th>Name</th>
      <th>Geburtsdatum</th>
      <th>Geschlecht</th>
      <th>Gewicht</th>
    </tr>
  </thead>
  <tbody>
    {% for p in patient %}
      <tr>
        <td>{{ p.patienten_id }}</td>
        <td>{{ p.Name }}</td>
        <td>{{ p.Geburtsdatum }}</td>
        <td>{{ p.Geschlecht }}</td>
        <td>{{ p.Gewicht }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if patient|length == 0 %}
  <p>Keine aktiven Patient:innen vorhanden.</p>
{% endif %}
{% endblock %}