{% extends "base.html" %}

{% block content %}
<h2>Patient:innenliste</h2>
<p>Wähle einen Patienten oder eine Patientin aus, um seine/ihre Daten zu sehen.</p>

{% if patients and patients|length > 0 %}
  <div class="list-group">

    {% for patient in patients %}
      <a class="list-group-item"
         href="/patient/{{ patient.Name }}">
        {{ patient.Name }}
      </a>
    {% endfor %}

  </div>
{% else %}
  <p><em>Noch keine Patient:innen erfasst.</em></p>
{% endif %}

<hr>

<a class="btn btn-success" href="{{ url_for('add_patient') }}">
  + Patient:in erfassen
</a>
{% endblock %}
